body {
    min-height: 100vh;
    padding: 25px;
    box-sizing: border-box;
   
    /* Canh vị trí và trạng thái cho div app */
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* set lại margin về 0 vì mặc đinh body{ display: block; margin: 8px;} 
    xem tất cả mặc định tại https://www.w3schools.com/cssref/css_default_values.asp */
    margin: 0;
  }
   
  .app {
    width: 100%; /* mặc định flex item co lại nên cần cho nó căng ra*/
    max-width: 600px;
    min-height: 500px;
    border-radius: 15px;
    background-color: dodgerblue;
   
    /* Có number - Canh vị trí cho div number*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .number {
    font-size: 150px;
    color: white;
  }
   
  @media screen and (max-width: 500px) {
    /* Cách 1: Màn hình mobile thì item app cần stretch (tự căng ra) */
    .app {
      align-self: stretch;
    }
   
    /* Cách 2: Màn hình mobile thì toàn bộ item của body phải stretch (căng ra) thay vì center*/
    /* Xem link trong note 7: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    /* body {
      align-items: stretch;
    } */
  }
  
